@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap');

html {
  height: 100%;
  scroll-behavior: smooth;
}


body {
  background-color: #0A0006;
  margin: 0;
  padding: 0;
  font-family: "Grenze Gotisch", serif;
  font-size: 2rem;
  overflow: auto;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  background-image: linear-gradient(to bottom, #0a0006 50%, transparent);
  display: flex;
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
}

ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 30%;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: white;
  align-items: center;
}

ul:last-child {
  justify-content: flex-end;

  & li {
    margin: 0 10%;
  }
}

.entrar {
  padding: 0 40%;
  border: white 1px solid;
  border-radius: 10px;
}

.cadastrar {
  padding: 0 40%;
  color: black;
  background-color: #dfbad0;
  border-radius: 10px;
}

.container {
  background-image: url(../assets/imgs/fundo-index.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 4000px;
  align-items: center;
}

.logo {
  align-self: flex-start;
  margin: 3% 0 0 6%;
}

.letter {
  background-image: url(../assets/imgs/letter.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1028px;
  height: 643px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;

  & .text {
    margin-top: 9%;
    width: 85%;
    font-size: 1.2em;
  }
}

.radio {
  color: white;
  margin: 20% 0;
  padding: 0 0 0 18%;

  & .text {
    margin-top: 5%;
    width: 45%;
    font-size: 1.2em;
  }
}

.tombstone {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #DFBAD0;
  padding-top: 8%;
}

.myDescription {
  display: flex;
  flex-direction: column;
  width: 60%;
}

h1 {
  font-size: 3em;
  margin-bottom: 0;
}

h3 {
  font-size: 2.3em;
}

.line {
  display: flex;
  font-size: 1.1em;

  & p {
    font-size: 1.05em;
    margin: 0;
  }
}

.line:first-child {
  width: 70%;
}

.contact {
  width: 60%;
  justify-self: flex-end;
  color: #DFBAD0;
  margin: 18% 0 0 0;
}