@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap');

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: #0A0006;
  margin: 0;
  padding: 0;
  font-family: "Grenze Gotisch", serif;
  font-size: 1.5rem;
  color: white;
  height: 100%;
  overflow: auto;
}

body::-webkit-scrollbar {
  display: none;
}

.menu {
  height: 100%;
  position: fixed;
  display: flex;
}

.sectionsLayout {
  width: 80px;
  background-color: #0A0006;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15% 0;
  align-items: center;
}

.sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30%;
  justify-content: space-around;
}

svg {
  width: 40px;
  height: 40px;
}

.easterEggSplit {
  width: 183px;
  background-image: url('../assets/imgs/menu-web.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.profile {
  width: 50px;
  height: 50px;
  border: 1px solid #DFBAD0;
  border-radius: 50%;
  background-image: url('../assets/imgs/jackenstein_battle_dancing_jack-o-lantern.gif');
  background-position: center;
}

.pageContainer {
  width: 92%;
  height: 100%;
  justify-self: end;
  display: flex;
  flex-direction: column;
}

.search {
  width: 95%;
  justify-content: space-evenly;
}

input {
  background-color: #0A0006;
  border: none;
  border-bottom: white 1px solid;
  color: white;
  font-family: "Grenze Gotisch", serif;
  font-size: 1.5rem;
  width: 100%;
}

input:focus {
  outline: none;
  cursor: text;
}

label {
  color: #DFBAD0;
  font-size: 2rem;
}

button {
  color: #F25C05;
  background: none;
  background-color: #0A0006;
  border: white 1px solid;
  border-radius: 15px;
  font-family: "Grenze Gotisch", serif;
  font-size: 1.7rem;
}

.postSection {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 5% 0;
}

.post {
  display: flex;
  flex-direction: column;
  border: white 1px solid;
  background-color: #0A0006;
  border-radius: 25px;
  width: 96%;
  padding: 2%;
  align-self: end;
  z-index: 1;
}

.header {
  display: flex;
  width: 100%;
}

.user {
  display: flex;
  align-items: center;
  width: 15%;
  gap: 10%;

  & h3 {
    color: #B4789C;
  }
}

.legends {
  display: flex;
  align-items: center;
  color: #5F2046;
}

h3 {
  margin: 0;
}

.description {
  display: flex;
  flex-direction: column;

  & h3 {
    color: #B4789C;
    margin-top: 1%;
  }
}

.sinopse {
  display: flex;
  justify-content: space-between;

  & span {
    margin-left: 2%;
  }
}

.buttons {
  display: flex;
  align-items: center;
  width: fit-content;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  cursor: pointer;
  font-family: "Grenze Gotisch", serif;
  font-size: 1.5rem;
  margin-left: 10px;
}

.like svg g path {
  fill: #B4789C;
}

.like:hover svg g path {
  fill: #EA5905;
}

.comment svg path {
  stroke: #B4789C;
}

.comment:hover svg path {
  stroke: #EA5905;
}

.reply {
  transform: rotate(90deg);
  & svg path {
    stroke: #B4789C;
  }
}

.reply:hover svg path {
  stroke: #EA5905;
}

.seeMore {
  width: 175px;
  height: 50px;
  color: white;
  background-image: url('../assets/imgs/button-web.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.seeMore:hover {
  color: #EA5905;
}

.highlightedComment {
  position: relative;
  transform: translateY(-25%);
  width: 88%;
  align-self: end;
  border: white 1px solid;
  border-radius: 25px;
  padding: 5% 2% 2% 2%;
  display: flex;
  flex-direction: column;

  .description {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1%;
  }
}